@{
    @model LoginModel
}

<h2>Sign in </h2>
<p> Not a member? <a>Sign up</a>  </p>

<form method="post" asp-controller="Home" asp-action="Login">
    <p>
        <input type="hidden" name="isSubmitted" value="true" />
    </p>
    <p>
        <label asp-for="UserName"></label><br />
        <input type="text" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </p>
    <p>
        <label asp-for="Password"></label><br />
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </p>
    <p>
        <input type="hidden" asp-for="ReturnUrl" />
    </p>
    <p>
        <input class="button" type="submit" value="Sign in" />
        <br />
    </p>
    <div asp-validation-summary="All"></div>
</form>

